* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  width: 100%;
  height: 100%;
}
:root {
  font-size: 10px;
}
.container,
.container2 {
  /* border-bottom: 0.5px solid #fff; */
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  background: rgba(104, 189, 223, 0.81);
  overflow: hidden;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sns {
  position: absolute;
  left: 1rem;
  top: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sns :hover{
  filter: invert(0.75);
}
.sns a:link,
.sns a:visited {
  display: block;
  margin: 10px;
  filter: invert(1);
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* border: 1px solid; */
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 12rem;
  z-index: 10000;
}
header ul {
  list-style: none;
  display: flex;
}
header span {
  font-size: 2.8rem;
  font-weight: 540;
}
header ul li {
  margin-left: 6rem;
  transition: 0.5s;
}
header ul li a {
  text-decoration: none;
  color: white;
}
header li:hover {
  transform: translateY(-4px);
}
.section {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
}
.main-text {
  display: flex;
  flex-direction: column;
  margin-right: 4.5rem;
}
.main-text h2 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-top: 5rem;
  color: black;
  width: 28.209rem;
    /* ! μΈν„°λ² */
  /* border: 1px solid; */
}
.main-text h4 {
  font-size: 2.6rem;
  font-weight: normal;
  margin: 3rem 0rem;
}
.main-text h5 {
  font-size: 2.4rem;
  font-weight: normal;
  opacity: 0.8;
  margin-bottom: 8rem;
}
.main-img {
  /* border: 0.5px solid cornflowerblue; */
  border-radius: 50%;
  overflow: hidden;
  border-bottom-left-radius: 65%;
  border-bottom-right-radius: 65%;
  border-bottom: none;
  background: #fff;
}
.main-img img {
  width: 40rem;
  height: 100%;
  transition: 0.5s;
}
.main-img img:hover {
  transform: scale(1.05);
}
#btn {
  margin: 0 auto;
  width: 50%;
  height: 3rem;
  border-radius: 5rem;
  border: none;
  font-size: 1.8rem;
  font-weight: 550;
  background-color: rgb(55, 149, 186);
  color: white;
  cursor: pointer;
  letter-spacing: 0.65px;
  outline: none;
}
/* container1 css end */
 /*  */
/* container2 start */
.gallery-container {
  width: 63%;
  /* border: 1px solid; */
  margin: 0 auto;
  position: relative;
  margin-top: 11rem;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  /* margin: -1rem -1rem; */
}
.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  /* box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4); */
  overflow: hidden;
  /* min-width: 24rem; */
}
.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}
.gallery-image:hover {
  transform: scale(1.05);
}
.gallery-text {
  text-align: center;
  padding: 2rem;
  font-size: 2.4rem;
  letter-spacing: 3px;
}
.flower-text{
  z-index: 999;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  color: rgba(128, 128, 128, 0.808);
  text-align: center;
  font-size: 1rem;
  font-weight: 550;
  letter-spacing: 1px;
  display: none;
}
@supports (display: grid) {
  .gallery {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    grid-gap: 3rem;
  }
  .gallery,
  .gallery-item {
    margin: 0;
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  #container2 {
    height: auto;
  }
  header {
    padding: 0;
    padding: 0.8rem;
    font-size: 1.4rem;
  }
  header ul li {
    margin-left: 3rem;
  }
  header span {
    font-size: 2rem;
  }
  .section {
    width: 100%;
    flex-direction: column-reverse;
  }
  .main-img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    border-radius: 50%;
  }
  .main-img img {
    width: 100%;
  }
  .main-text {
    text-align: center;
    margin: 0;
  }
  .main-text h2{
    width: 28.3rem;
    margin: 0 auto;
  }
  .sns {
    top: 20%;
    left: 0.5rem;
  }
  .sns a {
    text-align: center;
  }
  .sns img {
    width: 50%;
  }
  .gallery-container {
    width: 100%;
    margin-bottom: 4.5rem;
    margin-top: 5rem;
  }
  .gallery-text {
    font-size: 1.8rem;
    padding: 1rem;
  }
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
  }
  .gallery-image {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.45);
    object-fit: cover;
  }
  .gallery-image:hover {
    transform: scale(1.03);
  }
  .gallery-item {
    width: 80%;
    margin: 0 auto;
  }
  .flower-text{
    display: block;
  }
}
