@charset 'utf-8'
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    border: 1px solid;
}
nav ul{
    text-align: right;
    list-style: none;
}
nav li{
    display: inline-block;
    padding: 10px 10px;
}
nav li img{
    width: 20px;
    color: gray;
}
nav a{
    text-decoration: none;
    color: black;
}
nav button{
    background-color: #1a73e8;
    font-size: 16px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    margin-right: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    border:none
}
section{
    width: 1200px;
    height: 500px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    min-height: 92px;
    border: 1px solid;
    padding: 150px;
}
section input{
    background-image: url(/0330/img/search.png);
    border:1px solid gray;
    width: 447px;
    height: 35px;
}



footer{
    background-color: rgba(0,0,0,.54);
}
    
